.profile-page {
  height: 80rem;
  background-image: linear-gradient(to right bottom, #ffdb79, #ffedbd);
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 31.25em) {
    height: 95rem;
  }
}
