.account-details {
  width: 80vw;
  height: 60rem;
  background-color: #130e00;
  padding: 4rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;

  @media only screen and (max-width: 43.75em) {
    width: 98vw;
  }

  @media only screen and (max-width: 31.25em) {
    height: 85rem;
  }

  &__heading {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #ffdb79;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 4rem;

    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
    }
  }

  &__input-group {
    width: 100%;
    flex: 1.4;

    @media only screen and (max-width: 31.25em) {
      margin-bottom: 2rem;
      flex: 1;
    }
  }

  &__photo-container {
    margin-left: 5rem;
    overflow: hidden;
    outline: 1px solid #ffdb79;
    outline-offset: 1rem;
    flex: 1;

    @media only screen and (max-width: 31.25em) {
      margin-left: 0;
    }

    &--photo {
      height: 20rem;
      width: 20rem;
      border-radius: 20000px;
      object-fit: cover;
      margin-bottom: 2rem;
    }
  }

  &__button-group {
    position: absolute;
    bottom: -10rem;
  }

  &__button {
    margin-right: 2rem;
  }

  &__orders-button {
    margin-left: 2rem;
  }
}
