.login {
  width: 50%;
  background-image: linear-gradient(
    to bottom,
    #463300,
    #795900,
    #ac7e00,
    #ffbc02
  );
  border-radius: 5px;
  padding: 4.5rem;

  // position: absolute;
  // top: 55%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);

  @media only screen and (max-width: 50em) {
    width: 80%;
    padding: 2rem;
  }

  @media only screen and (max-width: 31.25em) {
    width: 96%;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2rem;
    background-image: linear-gradient(to right, #ffdc79, #fff2ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__info {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffdc79;
  }

  &__button {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: #463300;
    font-weight: 500;
  }

  &__forgot-pass {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

.dual-ring-loader {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
}
.dual-ring-loader:after {
  content: " ";
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff2ce;
  border-color: #fff2ce transparent #fff2ce transparent;
  animation: dual-ring-loader 1.2s linear infinite;
}
@keyframes dual-ring-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
