.cancel-process {
  margin-top: 2rem;
  font-family: "Lato", sans-serif;
  color: #273c75;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 400;
}

.password-reset-form__info {
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  color: #e84118;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.loader1 {
  margin-top: 1rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttons-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
